In [6]:
import pandas as pd
import sqlite3

In [9]:
df = pd.read_sql_query()

SyntaxError: invalid syntax (<ipython-input-9-8cd49b7d1978>, line 1)