In [12]:
import pandas as pd
import sqlite3
con = sqlite3.connect('hbs-ds-060120.c1doesqrid0e.us-east-1.rds.amazonaws.com')
cursor = con.cursor()

In [13]:
df = pd.read_sql_query()

TypeError: read_sql_query() missing 2 required positional arguments: 'sql' and 'con'